body {
    background-color: black;
    font: arial;
    color: white;
}

h1 {
    color: gray;
    font-family: verdana;
    font-weight: bold;
}

#maindiv {
    background-color: white;
    color: black;
    width: 500px;
    padding: 20px;
    border-radius: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#formtable {
    padding-left: 50px;
}

.highlight {
    background-color: yellow;
}

#result {
    margin-top: 1%;
}